h1 {
    margin-left: 10px;

}
#site-title {
    font-family: 'Indie Flower', cursive;
    font-size: 300%;
    margin: 40px;
}
#site-logo { /* kokopelli */
    float: right;
    margin: 20px;
}
.site-logo-small {
  display: none;
}
@media only screen and (max-width: 600px) {
  #site-logo {
      margin: 2px;
  }
  #site-title {
      font-size: 200%;
      margin: 10px;
  }
  .site-logo-big {
      display: none;
  }
  .site-logo-small {
      display: inline-block;
  }
}

.project-name {
    font-family: 'Indie Flower', cursive;
}

.site-blurb {
    background-color: AntiqueWhite;
    margin:25px;
    padding: 25px;
    border-radius: 25px;
    max-width: 800px;
    float: left;
}

.site-blurb div {
    margin-bottom: 10px;
}

/* stuff from main-html */
body {
    max-width: 1600px;
    margin-left: 40px;
}

.rounded-card {
    border-radius: 25px;
    padding: 0.83em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 9em;
}

.description {
    background: Khaki;
}
.tune-details {
    background: PeachPuff;
}
.dance-details {
    background: HoneyDew;
}

.recording-list {
    padding: 10px;
}
.recording-row {
    border: 1px solid black;
    /* https://stackoverflow.com/questions/50068078/how-to-prevent-flex-items-from-overflowing-flex-parent-with-no-wrap */
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.recording-row:hover {
    background-color: beige;
}

.tune-details {
}

/* keep long copyright line from being ridiculous */
div.tune-details div {
    max-width: 250px;
}


.recording-header {
}

.recording-header-title {
    margin-left: 0.83em;
    margin-right: 0.83em;
    margin-top: 0.83em;
    margin-bottom: 0.3em;
    display: flex;
}

.recording-title {
  display: block;
  font-size: 1.5em;
  margin-right: 0.83em;
  font-weight: bold;
}

.recording-deleted {
    text-decoration: line-through;
}

.download-link {
}

.album-info {
    margin-left: 0.83em;
    margin-bottom: 0.83em;
    display: flex;
}

.album-info div {
    margin-right: 0.83em;
}

.play-audio {
    margin-left: 0.83em;
}
.dance-details {
    border: 1px solid LightBlue;
}

.show-instructions-button {
    border-radius: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;

}

.updated-date {
    font-style: italic;
    font-size: 80%;
    margin-top: 0.83em;
    margin-left: 0.83em;
    margin-bottom: 0.5em;
}

.message {
    border: 1px solid green;
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.instructions {
    border: 1px solid goldenrod;
    background-color: lightgrey;
    margin: 10px;
}

.fake-audio-for-mgmt {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.upload-button {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

/* stuff from upload-recording.tt */
form div {
    padding: 10px;
}


