h1 {
    margin-left: 10px;
}
.h1-title {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    /* border: 1px solid black; */
    align-items: center;
}
.h1-title h1 {
    margin-top: 5px;
}
.h1-rightbox {
    margin-left: 40px;
}
@media only screen and (max-width: 400px) {
    .h1-rightbox {
        display: none;
    }
}
#site-title {
    font-family: 'Indie Flower', cursive;
    font-size: 300%;
    margin: 40px;
}
#site-logo { /* kokopelli */
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
.site-logo-small {
  display: none;
}
@media only screen and (max-width: 600px) {
  #site-logo {
      margin: 2px;
  }
  #site-title {
      font-size: 200%;
      margin: 10px;
  }
  .site-logo-big {
      display: none;
  }
  .site-logo-small {
      display: inline-block;
  }
}

.project-name {
    font-family: 'Indie Flower', cursive;
}

.site-blurb {
    background-color: AntiqueWhite;
    margin:25px;
    padding: 25px;
    border-radius: 25px;
    max-width: 800px;
    float: left;
}

.site-blurb div {
    margin-bottom: 10px;
}

/* stuff from main-html */
body {
    max-width: 1600px;
    margin-left: 40px;
}

.rounded-card {
    border-radius: 25px;
    padding: 0.83em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 9em;
    overflow-x: hidden;
    max-width: 16em;
}

.description {
    background: Khaki;
}
.tune-details {
    background: PeachPuff;
}
.dance-details {
    background: HoneyDew;
}

.recording-list {
    padding: 10px;
}
.recording-row {
    border: 1px solid black;
    /* https://stackoverflow.com/questions/50068078/how-to-prevent-flex-items-from-overflowing-flex-parent-with-no-wrap */
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.recording-row:hover {
    background-color: beige;
}

.tune-details {
}

/* keep long copyright line from being ridiculous */
div.tune-details div {
    max-width: 250px;
}


.recording-header {
}

.recording-header-title {
    margin-left: 0.83em;
    margin-right: 0.83em;
    margin-top: 0.83em;
    margin-bottom: 0.3em;
    display: flex;
}

.recording-title {
    display: block;
    font-size: 1.5em;
    margin-right: 0.83em;
    font-weight: bold;
    max-width: 10em;
}

.recording-deleted {
    text-decoration: line-through;
}

.download-link {
}

.album-info {
    margin-left: 0.83em;
    margin-bottom: 0.83em;
    display: flex;
}

.album-info div {
    margin-right: 0.83em;
}

.play-audio {
    margin-left: 0.83em;
}
.dance-details {
    border: 1px solid LightBlue;
}

.show-instructions-button {
    border-radius: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;

}

.updated-date {
    font-style: italic;
    font-size: 80%;
    margin-top: 0.83em;
    margin-left: 0.83em;
    margin-bottom: 0.5em;
}

.message {
    border: 1px solid green;
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.instructions {
    border: 1px solid goldenrod;
    background-color: lightgrey;
    margin: 10px;
}

.fake-audio-for-mgmt {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.upload-button {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

/* stuff from upload-recording.tt */
form div {
    padding: 10px;
}

/* I'd really like to style this better someday */
.sort-control {
    padding: 10px;
}

.logs th,td {
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
}
.logs .auto-log {
    color: gray;
    font-size: 90%;
    font-style: italic;
}

.cancel-button {
  font: bold 11px Arial;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.submit-button {
  font: bold 13px Arial;
  color: #333333;
  background-color: #ffffff;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

